<li class="ui-tree-node">
  <div ng-if="$tree.wholerow" class="ui-tree-node-wholerow" ui-tree-node-header="wholerow">&nbsp;</div>
  <a class="ui-tree-link" tabindex="-1" ng-click="toggle()"><i ng-class="{'fa-caret-right': $node.collapsed, 'fa-caret-down': !$node.collapsed}" class="ui-tree-icon fa"></i></a><a class="ui-tree-link ui-tree-node-header" href="javascript:void(0)" tabindex="-1" ui-tree-node-header>
    <i class="fa fa-folder" ng-class="{'fa-folder': $node.collapsed, 'fa-folder-open': !$node.collapsed}" class="ui-tree-icon fa"></i>
    {{$node.text}}
  </a>
  <div class="ui-tree-nodes-placeholder"></div>
</li>
